<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dienstleistungen | EAH-Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/shards.min.css">
</head>
<body class="container">
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Content -->
<!--/*@thymesVar id="data" type="de.civento.eahtools.routingrepository.impl.responsibility.Responsibility"*/-->
<span th:if="${data.sysModifiedAt == null}"><h1>Neue Organisationseinheit erstellen</h1></span>
<span th:unless="${data.sysModifiedAt == null}"><h1>Organisationseinheit bearbeiten</h1></span>

<form action="#" th:action="@{/responsibilities/save}" th:object="${data}" method="post">
    <div class="form-group">
    <div>
        <label for="ouId">Organisationseinheit</label>
        <select id="ouId" class="form-control" th:field="*{ou.id}">
            <option value=""></option>
            <option th:each="item : ${ous}"
                    th:value="${item.id}" th:text="${item.text}"></option>
        </select>

        <label for="serviceId">Dienstleistung</label>
        <select id="serviceId" class="form-control" th:field="*{service.id}">
            <option value=""></option>
            <option th:each="item : ${services}"
                    th:value="${item.id}" th:text="${item.text}"></option>
        </select>

        <label for="regionalKey">Regionalschlüssel</label>
        <input id="regionalKey" type="text" class="form-control"
               placeholder="Bitte Sie den Regionalschlüssel an" required
               th:field="*{regionalKey}" >

        <label for="deliveryType">Schnittstellenart</label>
        <select id="deliveryType" class="form-control" name="Schnittstellenart"
                th:field="*{deliveryType}">
            <option value=""></option>
            <option th:each="deliveryType : ${T(de.civento.eahtools.routingrepository.db.DeliveryType).values()}"
                    th:value="${deliveryType}" th:text="${deliveryType.displayType}"></option>
        </select>
    </div>
        <input type="hidden" th:field="*{id}" id="id">
        <input type="hidden" th:field="*{sysModifiedAt}" id="sysModifiedAt">
        <input type="hidden" th:field="*{sysModifiedBy}" id="sysModifiedBy">
        <input type="hidden" th:field="*{sysVersion}" id="sysVersion">

        <div>
        <button class="btn btn-primary" type="submit" th:href="@{/responsibilities/save}">Speichern</button>
        <a th:href="@{/responsibilities/list}">
            <button class="btn btn-secondary" type="button">Zurück zur Liste</button>
        </a>
    </div>
    </div>
</form>
<!-- Footer-->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>